{% extends 'estoque/base.html' %}

{% block title %}Página Inicial - Minha Loja{% endblock %}

{% block extra_css %}
    {{ block.super }} 

{% endblock %}

{% block content %}
    <div class="jumbotron text-center bg-light p-5 rounded">
        <h1 class="display-4">Bem-vindo à gestão de estoque</h1>
        <p class="lead">Os melhores produtos, são gerenciados aqui.</p>
        <hr class="my-4">
        <p>Gerencie os produtos oferecidos aos seus clientes</p>
        <a class="btn btn-primary btn-lg" 
            href="#" 
            role="button">
            Ver Produtos
        </a>
    </div>
{% endblock %}