{% extends 'estoque/base.html' %}
{% load widget_tweaks %}

{% block title %}Estoque - Loja de Eletronicos{% endblock %}

{% block extra_css %}
    {{ block.super }} 

{% endblock %}

{% block content %}
<div class="card bg-light p-4">
    <h1 class="card-title">Confirmar Exclusão</h1>
    <p class="lead">Você tem certeza que deseja deletar o produto <strong>"{{ produto.nome }}"</strong>?</p>
    <p>Esta ação não poderá ser desfeita.</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sim, tenho certeza</button>
        <a href="{% url 'estoque:produto_detail' produto.pk %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

{% endblock %}